version: 1.0.{build}
branches:
  only:
  - master
skip_tags: true
configuration:
- Release
- Debug
platform:
- Win32
- x64
build:
  project: xll12.sln
  parallel: true
  verbosity: minimal
test:
  assemblies: build\bin\$(platform)\$(configuration)\xll.t.exe
artifacts:
- path: '**/xll12*.lib'
  name: main_lib
notifications:
- provider: Email
  to:
  - kal@kalx.net
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false