version: 1.0.{build}
branches:
  only:
  - master
skip_tags: true
configuration:
- Release
- Debug
platform:
- x64
- x86
build:
  project: vs2015_build/xll12.sln
  parallel: true
  verbosity: minimal
test:
  assemblies: vs2015_build\bin\$(platform)\$(configuration)\xll.t.exe
artifacts:
- path: '**/xll12*.lib'
  name: main_lib
notifications:
- provider: Email
  to:
  - candy.chiu.ad@gmail.com
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false